@import "../../mixins/fonts.scss";
@import '../../mixins/colors.scss';

.block{
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid $color-orange;
    background-color: $color-light-purple;
}

.error{
    display: block;
    @include Subjects;
    font-size: 12px;
    color: $color-orange;
    margin: 0 0 8px 0;
}

.authorization__title{
    @include Headline;
    display: block;
    font-size: 30px;
    text-align: center;
}

.errorMessage{
    display: block;
    @include Student;
    font-size: 14px;
    white-space: pre-wrap;
    color: $color-orange;
    text-align: center;
}

.none{
    display: none;
}

.errorMessage__box{
    height: 20px;
    margin-top: 10px;
}

.error__box{
    height: 22px;
}