@import '../../mixins/colors.scss';
@import "../../mixins/fonts.scss";

.footer{
    width: 100%;
    height: 60px;
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    left: 0;
    bottom: 0;
}

.footer__title{
    display: block;
    @include Subjects;
    font-size: 12px;
    margin-left: 28px;
}
